.newTask {
  display: flex;
  justify-content: flex-start;
  padding: 0px;
  gap: 8px;
  position: absolute;
  left: calc(50% - 736px / 2);
  top: 173px;
  width: 736px;
}

.newTask input {
  box-sizing: border-box;
  padding: 16px;
  gap: 8px;
  width: 39.875rem;
  background: var(--gray-500);
  color: var(--gray-300);
  border-radius: 8px;
  border: 1px solid var(--gray-700);
}

.newTask button[type="submit"] {
  background-color: var(--blue-dark);
  border-radius: 8px;
  border-width: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  color: var(--gray-100);
  gap: 8px;
  width: 90px;
  font-size: 0.875rem;
}

.newTask button[type="submit"]:not(:disabled):hover {
  cursor: pointer;
  background-color: var(--purple-dark)
}

.newTask button:disabled {
  opacity: 0.7;
}
