.taskItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  gap: 12px;
  margin-top: 12px;

  width: 736px;
  height: 72px;

  background: var(--gray-500);

  border: 1px solid var(--gray-400);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
}

.taskItem p {
  font-size: 0.875rem;
}

.taskItem button {
  background: transparent;
  border: 0;
  color: var(--gray-300);
  cursor: pointer;
  line-height: 0;
}

.taskItem button:hover {
  color: var(--danger);
}

.checkCircle {
  color: var(--purple-dark)
}

.circle {
  color: var(--blue);
}
